.footer-list{
    color: var(--color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    bottom: 0;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    list-style-type: none;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 2px;
}